
.about-me {

    display: flex;
    padding: 30px; 
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s; 
}

.about-me:hover {
    transform: translateY(-5px); 
}



.about-header h2 {
    font-size: 40px; 
    color: #333; 
    margin-left: 100px;
    margin-top: 50px;
}

.about-content{
    width: 500px;
    margin: auto;
}
.about-content p {
    font-size: 18px; 
    line-height: 1.7;
    color: #555;
}
